<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>Administrador</title>
</head>
<body>
    <table id="tabla">
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Servicio</th>
        </tr>
        <tbody id="clientes-body">
          <!-- Aquí se agregarán las filas con los datos de los clientes -->
        </tbody>
      </table>
      


      
     
     
     
      <script src="../js/main.js"></script><!--carperta js-->
</body>
</html> 